.thumbnail {
}

.thumbnail__container-image {
    position: relative;
}

.thumbnail__icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    height: 20px;
    width: 20px;
    background-color: $clr-white;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 102;
}

.icon--next {
    right: 15px;
}

.thumbnail__product {
    width: 100%;
}

.icon--previous {
    left: 15px;
}

.thumbnail__container-image--zoom {
    width: 100vw;
    height: 100vh;
    background-color:transparentize($color: $clr-black, $amount: .2) ;;
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;

    & .thumbnail__icon-close {
        filter: invert(69%) sepia(98%) saturate(3575%) hue-rotate(346deg) brightness(100%) contrast(101%);
        width: 20px;
        position: absolute;
        right: 50%;
        top: 50%;
        margin-top: calc(-17.5vw - 40px);
        margin-right: -17.5vw;
        cursor: pointer;
    }
    
    & .icon--previous {
        left: 50%;
        margin-left: calc(-17.5vw - 20px); //- width of image - width of button
    }

    & .icon--next {
        right: 50%;
        margin-right: calc(-17.5vw - 20px);
    }


    & .thumbnail__product {
        position: absolute;
        width:35vw;
        top: 50%;
        left: 50%;
        margin-top: -17.5vw;
        margin-left: -17.5vw;
    }
}

.thumbnail__container-preview {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    & .thumbnail__preview {
        border-radius: 15px;
        min-width: 75px;
        width: 100%;
        cursor: pointer;

        &:hover {
            opacity: .5;
        }
    }
}


@media (min-width: $mq-tablet) {
    .thumbnail {
        max-width: 500px;
        width: 100%;
    }
    
    .thumbnail__product {
        border-radius: 15px;
        margin-bottom: 20px;
        width: 100%;
        cursor: pointer;
    }
}

