.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 30px 25px;
    border: none;
    position: relative; //for cart component
}

.header__menu {
    margin-right: 15px;
    padding-top: 4px;
    cursor: pointer;
}

.header__logo {
    margin-right: auto;
    cursor: pointer;
}

.header__container-nav {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: -20px;
    background-color:transparentize($color: $clr-black, $amount: .3) ;
}

.header__nav {
    height: 100vh;
    width: 60vw;
    display: flex;
    margin-right: auto;
    gap: 20px;
    flex-direction: column;
    background-color: $clr-white;
    padding: 20px;
    

    .header__close{
        width: 12px;
        margin-bottom: 15px;
    }

    & .header__nav-item {
        cursor: pointer;
    }
}

.header__container {
    display: flex;
    align-items: center;
}

.header__cart {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;

    &:hover + .header__cart-hover {
        display: block;
    }
}

.header__cart-hover {
    display: none;
    position: absolute;
    background-color: $clr-orange;
    font-size: 10px;
    top: -4px;
    right: 38px;
    padding: 0px 6px;
    border-radius: 9px;
}

.header__avatar {
    border: 1px solid transparent;
    width: 25px;
    cursor: pointer;
    &:hover {
        border: 1px solid $clr-orange;
        border-radius: 50%;
    }
}

@media (min-width: $mq-tablet) {
    .header__menu {    
        display: none;
    }

    .header__logo {
        margin-right: 20px;
    }

    .header__nav {
        height: initial;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 2vw;
        width: initial;
    }

    .header__container-nav {
        display: flex;
        position: static;
        width: 100%;
        height: initial;
        background-color: $clr-white;

        .header__close{
            display: none;
        }
    
        & .header__nav-item {
            cursor: pointer;
            color: $clr-darkGrayish-blue;
            position: relative;

            &:hover::after  {
                content: "";
                position: absolute;
                width: 100%;
                left: 0;
                bottom: -55px;
                border-bottom: 3px solid $clr-orange;
            }
        }
    }

    .header__avatar {
        width: 50px;
    }    

    .header {
        justify-content: start;
        margin: 25px 15%;
        gap: 25px;
        padding-bottom: 35px;
        border-bottom: 1px solid $clr-lightGrayish-blue;
    }
}

@media (max-width: $mq-laptop) {
    .header {
        margin-inline: 5%;
    }
}