// --- COLORS ---
//primary
$clr-orange: hsl(26, 100%, 55%);
$clr-pale-orange: hsl(25, 100%, 94%);

//neutral
$clr-veryDark-blue: hsl(220, 13%, 13%);
$clr-darkGrayish-blue: hsl(219, 9%, 45%);
$clr-grayish-blue: hsl(220, 14%, 75%);
$clr-lightGrayish-blue: hsl(223, 64%, 96%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);

// --- TYPOGRAPHY ---
//font-size
$fs-regular: 16px;

//font-weight
$fw-400: 400;
$fw-700: 700;

//font-family
$ff-Sans: 'DM Sans';

//media-queries width
$mq-mobile: 480px;
$mq-tablet: 768px;
$mq-laptop: 1024px;