@media (min-width: $mq-tablet) {
    .Collections {
        display: flex;
        gap: 5vw;
        justify-content: center;
        padding-inline: 6vw;
    }
}

@media (min-width: $mq-laptop) {
    .Collections {
        padding-inline: 17vw;
    }
}